[Unit]
Description=Vidpi Media Player

[Service]
ExecStart=/usr/local/bin/vidpi-watchdog
RestartSec=1s
Restart=always

[Install]
WantedBy=multi-user.target


